<div>
  <div class="d-flex align-items-stretch mb-3">
    <div class="form-floating flex-grow-1 me-2">
      <input
        type="text"
        class="form-control"
        id="search-field"
        placeholder=""
        [formControl]="searchControl"
        autocomplete="off"
      />
      <label for="search-field">Buscar Producto</label>
    </div>
    <button class="btn btn-outline-secondary" (click)="clearSearchControl()">
      Limpiar
    </button>
  </div>

  <!-- TODO: Create a select for search fields (name, code) -->

  <div>
    <div class="list-group">
      @for (item of filteredProducts; track item.id) {
        <div
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="ms-2 me-auto">
            <div class="fw-medium">{{ item.name }}</div>
            <div class="small-text">{{ item.barcode }}</div>
          </div>
          <div class="d-flex ms-3 column-gap-5 align-items-center">
            <p class="mb-0">{{ item.sellingPrice | currency: "GTQ" }}</p>
            <div>
              <span class="badge bg-success rounded-pill">{{
                item.inStock ? "En Stock" : "Sin Stock"
              }}</span>
            </div>
            <button
              type="button"
              class="btn btn-light btn-sm"
              (click)="addItemToQuotation(item)"
              aria-label="add product button"
            >
              <ui-icon iconCode="bi bi-plus" />
            </button>
          </div>
        </div>
      }
    </div>
  </div>

  <hr />

  <table class="table align-middle">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Valor Unitario</th>
        <th>Importe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of (quoteState$ | async)!.items; track item.productId) {
        <tr>
          <td>{{ item.description }}</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-light me-1 btn-sm"
                (click)="decreaseQuantity(item.productId)"
              >
                -
              </button>
              {{ item.quantity }}
              <button
                class="btn btn-light ms-1 btn-sm"
                (click)="increaseQuantity(item.productId)"
              >
                +
              </button>
            </div>
          </td>
          <td>
            <input
              class="form-control form-control-sm price-control"
              type="number"
              placeholder=".form-control-sm"
              [value]="item.price"
              min="0.00"
              step="0.01"
              (input)="updateItemPrice($event, item.productId)"
            />
          </td>
          <td>{{ item.ammount | currency: "GTQ" }}</td>
          <td>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="removeItemOfQuotation(item.productId)"
              aria-label="remove item button"
            >
              <ui-icon iconCode="bi bi-x" />
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5" class="text-center">No se han añadido productos</td>
        </tr>
      }
    </tbody>
  </table>

  <div>
    <p class="text-end">
      @if (quoteState$ | async) {
        <span class="d-block"
          >Subtotal:
          {{ (quoteState$ | async)!.subtotal | currency: "GTQ" }}</span
        >
        <span class="d-block"
          >Descuento:
          {{ (quoteState$ | async)!.discount | currency: "GTQ" }}</span
        >
        <span class="fs-5 d-block fw-medium"
          >Total: {{ (quoteState$ | async)!.total | currency: "GTQ" }}</span
        >
      }
    </p>
  </div>
</div>
