<div class="form-wrapper">
  <h1 class="mb-4">Editar producto:</h1>
  <form [formGroup]="itemForm" (ngSubmit)="handleSubmit()">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Codigo de barras"
      formControlName="barcode"
    />
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Nombre del producto"
      formControlName="product_name"
    />
    <div class="mb-3">
      <select
        class="form-select"
        formControlName="category_id"
        title="Lista de categorías para escoger"
      >
        <option value="0" selected>Selecciona una categoría</option>
        <option *ngFor="let item of categories$ | async" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="mb-3 d-flex gap-3">
      <div class="input-group">
        <span class="input-group-text" id="min-stock">Min. Stock</span>
        <input
          type="number"
          class="form-control"
          min="0"
          formControlName="min_stock"
          aria-describedby="min-stock"
          title="Campo Mínimo de Stock"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Q</span>
        <input
          type="number"
          class="form-control"
          min="0"
          formControlName="selling_price"
          aria-describedby="basic-addon1"
          title="Campo Precio Venta"
        />
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger">Cancelar</button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="itemForm.invalid"
    >
      Guardar
    </button>
  </form>
</div>
