<div class="wrapper">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="fs-3">Categorías</h1>
    <button class="btn btn-primary">Nueva Categoría</button>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let category of categories$ | async"
    >
      <div>
        <p class="fw-medium fs-5 mb-0">
          {{ category.name }}
        </p>
        <p class="mb-2">{{ category.description }}</p>
        <span class="badge rounded-pill text-bg-success">Activo</span>
      </div>
      <div>
        <button class="btn">Editar</button>
      </div>
    </li>
  </ul>
</div>
