.quote-details {
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 32px;
}

.small-text {
  font-size: 14px;
}

.list-items {
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 4px;
}
