<section *ngIf="product">
  <div class="row p-4">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Producto #{{ product.id }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="mb-2" ProductStatus [isActive]="product.is_active"></p>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="fw-semibold">Código:</span> {{ product.barcode }}
            </li>
            <li class="list-group-item">
              <span class="fw-semibold">Categoría:</span>
              {{ product.category.name }}
            </li>
            <li class="list-group-item">
              <span class="fw-semibold">Existencia Mínima:</span> {{ product.min_stock }}
            </li>
            <li class="list-group-item">
              <span class="fw-semibold">Precio Venta:</span>
              {{ product.selling_price | currency:'Q' }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-8">
      <h1 class="fs-3">Movimientos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>No. Documento</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Valor</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Venta</td>
            <td>GT-235161910</td>
            <td>11-05-2023 21:59</td>
            <td>2</td>
            <td>Q500</td>
            <td>jlopez</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
