<form
  autocomplete="off"
  [formGroup]="quoteHeaderForm"
  (ngSubmit)="onSubmitQuote()"
  class="mx-auto w-50"
>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="customer-field"
      placeholder=""
      formControlName="customerName"
    />
    <label for="customer-field">Cliente</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="date"
      class="form-control"
      id="date-field"
      placeholder=""
      formControlName="date"
    />
    <label for="date-field">Fecha</label>
  </div>
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="school-grade-field"
      formControlName="schoolGrade"
    >
      <option value="0">Escoge un grado</option>
      @for (op of schoolGrades$ | async; track op.id) {
        <option [value]="op.id">{{ op.name }}</option>
      }
    </select>
    <label for="school-grade-field">Grado Academico</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="school" formControlName="school">
      <option value="0">Escoge un centro educativo</option>
      @for (op of schools$ | async; track op.id) {
        <option [value]="op.id">{{ op.name }}</option>
      }
    </select>
    <label for="school">Centro Educativo</label>
  </div>
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="promotionType"
      formControlName="promotionType"
    >
      <option value="0">Escoge una promoción</option>
      <option value="1">Descuento (10%)</option>
      <option value="2">Forro de cuadernos</option>
    </select>
    <label for="promotionType">Promoción</label>
  </div>
  @if (diplayStudentControl) {
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="studentName"
        placeholder=""
        formControlName="studentName"
      />
      <label for="studentName">Estudiante</label>
    </div>
  }
  <div class="d-flex justify-content-end column-gap-2">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="handleClickToReturn()"
    >
      Regresar
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="denyToSubmit">
      Continuar
    </button>
  </div>
</form>
