@if (showButtons) {
  <div class="d-flex justify-content-center my-4 column-gap-2">
    <a routerLink="../" class="btn btn-outline-secondary">Regresar</a>
    <button
      (click)="makeAndDownloadPDF()"
      class="btn btn-primary"
      target="_blank"
    >
      Generar PDF
    </button>
  </div>
}

<div class="quotation" #quote>
  <section class="d-flex justify-content-between">
    <div>
      <p class="fs-3 fw-medium">Librería La Joya</p>
    </div>
    <div class="text-end">
      <p class="fs-4 fw-medium">{{ "cotización" | uppercase }}</p>
    </div>
  </section>
  <hr class="mb-4 mt-2" />
  <section class="d-flex justify-content-between mb-4">
    <div>
      <p class="fs-5 fw-medium">Datos Cliente</p>
      <p class="metadata">
        <span class="fw-medium">Cliente:</span>
        {{ quotationHeader?.customerName }}
      </p>
      <p class="metadata">
        <span class="fw-medium">Estudiante:</span>
        {{ quotationHeader?.studentName }}
      </p>
      <p class="metadata">
        <span class="fw-medium">Grado Académico:</span>
        {{ quotationHeader?.gradeName }}
      </p>
      <p class="metadata">
        <span class="fw-medium">Centro Educativo:</span>
        {{ quotationHeader?.schoolName }}
      </p>
    </div>
    <div class="text-end">
      <p class="fs-5 fw-medium">Datos Documento</p>
      <p class="metadata">
        <span class="fw-medium">Cotización #:</span> {{ quotationHeader?.id }}
      </p>
      <p class="metadata">
        <span class="fw-medium">Fecha Cotización:</span>
        {{ quotationHeader?.date | date: "dd/MM/yyyy" }}
      </p>
    </div>
  </section>
  <section class="mb-5">
    <table class="table align-middle">
      <thead>
        <tr class="table-light text-dark-emphasis">
          <th class="table-header">{{ "Descripción" | uppercase }}</th>
          <th class="table-header text-end">{{ "Cantidad" | uppercase }}</th>
          <th class="table-header text-end">{{ "Precio" | uppercase }}</th>
          <th class="table-header text-end">{{ "Descuento" | uppercase }}</th>
          <th class="table-header text-end">{{ "Total" | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of quotationItems; track item.id) {
          <tr>
            <td>{{ item.description | titlecase }}</td>
            <td class="text-end">{{ item.quantity }}</td>
            <td class="text-end">{{ item.price | number: "1.2-3" }}</td>
            <td class="text-end"></td>
            <td class="text-end">{{ item.ammount | number: "1.2-3" }}</td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr class="table-light text-dark-emphasis">
          <td colspan="4" class="fw-medium">Total</td>
          <td class="fw-medium text-end">
            {{ quotationHeader?.totalAmmount | currency: "GTQ" }}
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section class="text-center">
    <p class="metadata">
      <span class="fw-medium">Observaciones:</span>
      La vigencia de esta cotización es de 15 días hábiles a partir de la fecha
      de emisión.
    </p>
  </section>
</div>
