<div class="quotation">
  <section class="d-flex justify-content-between">
    <div>
      <p class="fs-3 fw-medium">Librería La Joya</p>
    </div>
    <div class="text-end">
      <p class="fs-4 fw-medium">{{ "cotización" | uppercase }}</p>
    </div>
  </section>
  <hr class="mb-4 mt-sm-2" />
  <section class="d-flex justify-content-between mb-4">
    <div>
      <p class="fs-5 fw-medium">Datos Cliente</p>
      <p class="metadata">
        <span class="fw-medium text-dark-emphasis">Cliente:</span>
        {{ quotationHeader?.customerName }}
      </p>
      <p class="metadata">
        <span class="fw-medium text-dark-emphasis">Estudiante:</span>
        {{ quotationHeader?.studentName }}
      </p>
      <p class="metadata">
        <span class="fw-medium text-dark-emphasis">Grado Académico:</span>
        {{ quotationHeader?.gradeName }}
      </p>
      <p class="metadata">
        <span class="fw-medium text-dark-emphasis">Centro Educativo:</span>
        {{ quotationHeader?.schoolName }}
      </p>
    </div>
    <div class="text-end">
      <p class="fs-5 fw-medium">Datos Cotización</p>
      <p class="metadata">
        <span class="fw-medium">Cotización #:</span> {{ quotationHeader?.id }}
      </p>
      <p class="metadata">
        <span class="fw-medium">Fecha Cotización:</span>
        {{ quotationHeader?.date | date: "dd/MM/yyyy" }}
      </p>
    </div>
  </section>
  <section class="mb-4">
    <p class="metadata">
      <span class="fw-medium">Observaciones:</span>
      La presente cotización tiene vigencia únicamente 15 días desde realizada
      la cotización.
    </p>
  </section>
  <section>
    <table class="table align-middle">
      <thead>
        <tr class="table-light text-dark-emphasis">
          <th class="table-header">{{ "Descripción" | uppercase }}</th>
          <th class="table-header text-end">{{ "Cantidad" | uppercase }}</th>
          <th class="table-header text-end">{{ "Precio" | uppercase }}</th>
          <th class="table-header text-end">{{ "Descuento" | uppercase }}</th>
          <th class="table-header text-end">{{ "Total" | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of quotationItems; track item.id) {
          <tr>
            <td>{{ item.description | titlecase }}</td>
            <td class="text-end">{{ item.quantity }}</td>
            <td class="text-end">{{ item.price | number: "1.2-3" }}</td>
            <td class="text-end"></td>
            <td class="text-end">{{ item.ammount | number: "1.2-3" }}</td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr class="table-light text-dark-emphasis">
          <td colspan="4" class="fw-medium">Total</td>
          <td class="fw-medium">
            {{ quotationHeader?.totalAmmount | currency: "GTQ" }}
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>
