<div class="quotation">
  <section>
    <p>Logo</p>
    <div>
      <p>Cotización</p>
      <p>Cotización #: 2023-0225512</p>
      <p>Fecha Cotización: 24/11/2023</p>
    </div>
  </section>
  <hr />
  <section>
    <p>Datos cliente</p>
    <p>Cliente</p>
    <p>Estudiante</p>
    <p>Grado Academico</p>
    <p>Colegio / Escuela</p>
  </section>
  <section>
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Descuento</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">Total</td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>
