.app-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  display: flex;
  position: relative;
}

app-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  z-index: 99;
}

.content-wrapper {
  flex: 1;
  margin-left: 240px;
}

.views-wrapper {
  margin: 24px auto;
  width: 90%;
}

.toggle-wrapper {
  position: absolute;
  background-color: white;
  top: 8px;
  right: 8px;
}

.toggle-label {
  margin-right: 6px;
}
