<div>
  <a
    href="/"
    class="mb-3 link-body-emphasis text-decoration-none fs-5 fw-medium d-block text-center"
  >
    Librería La Joya
  </a>
  <hr />
  <div class="nav nav-pills flex-column mb-auto">
    <!-- TODO: Shows nav-item icons -->
    @for (item of navItems; track $index) {
      <div class="nav-item">
        <a
          [routerLink]="item.path"
          class="nav-link link-body-emphasis"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          {{ item.placeholder }}
        </a>
      </div>
    }
  </div>
</div>
<div>
  <hr />
  <button
    class="nav-link link-body-emphasis"
    (click)="handleLogoutEvent()"
  >
    <svg class="bi pe-none me-2" width="16" height="16">
      <use xlink:href="#people-circle" />
    </svg>
    Cerrar Sesión
  </button>
</div>
