<h1 class="fs-3 mb-3">Productos</h1>

<div class="product-content">
  <p>Filtrar</p>
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <input
          type="text"
          placeholder="Buscar producto"
          [formControl]="searchControl"
          class="form-control form-control-sm mb-2"
        />
        <!-- TODO: Shows dinamicly the number of records -->
        <p class="small-text">Mostrando 50 productos de {{ productCount$ | async }}</p>
      </div>
      <div>
        <button class="btn btn-sm btn-primary">Nuevo Producto</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio Venta</th>
            <th>En Existencia</th>
            <th>Está Activo</th>
          </tr>
        </thead>
        <tbody>
          @for (item of products$ | async; track item.id) {
            <!-- TODO: Shows the product category -->
            <tr>
              <td>{{ item.barcode }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.sellingPrice }}</td>
              <!-- TODO: Make a directive to shows properly the boolean values of a product -->
              <td>{{ item.inStock }}</td>
              <td>{{ item.isActive }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
