<div class="wrapper">
  <h1 class="fs-3 mb-4">{{pageTitle}}</h1>

  <form [formGroup]="schoolForm" (ngSubmit)="onSubmitForm()" autocomplete="off">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="schoolName"
        placeholder="School Name"
        formControlName="name"
      />
      <label for="schoolName">Centro educativo</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" id="schoolState" formControlName="isActive">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
      </select>
      <label for="schoolState">Estado</label>
    </div>
    <div class="d-flex justify-content-end column-gap-2">
      <button type="button" class="btn" (click)="resetAndReturn()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
