<h2>Productos</h2>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Nuevo Producto
</button>

<form [formGroup]="searchForm" autocomplete="off">
  <input
    type="search"
    placeholder="Buscar producto"
    class="form-control"
    name="query-search"
    formControlName="query"
  />
</form>

<app-item-form
  [categories]="categories"
  (onCreateProduct)="createProduct($event)"
></app-item-form>

<app-item-list
  [products]="products"
  (onDeleteProduct)="deleteProduct($event)"
></app-item-list>
