<p>Quatations</p>

<a routerLink="./add">Nueva Cotización</a>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CLiente</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Colegio</th>
        <th scope="col">Grado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: Change the propertys for use the entity properties and not of DTO -->
      @for (item of quotations; track item.id) {
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.customer_name}}</td>
          <td>{{item.student_name}}</td>
          <td>{{item.school_name}}</td>
          <td>{{item.school_grade}}</td>
          <td>{{item.date}}</td>
          <td>{{item.total_ammount | currency: 'GTQ'}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
