<p>Quatations</p>

<a routerLink="./add">Nueva Cotización</a>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CLiente</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Colegio</th>
        <th scope="col">Grado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Claudia Hernandez</td>
        <td>Waldemar Martinez</td>
        <td>Liceo Cristiano Sendas Nuevas</td>
        <td>Quinto Perito Contador</td>
        <td>25-11-2023</td>
        <td>GTQ500</td>
      </tr>
    </tbody>
  </table>
</div>
