<h1 class="fs-2">Cotizaciones</h1>

<a routerLink="./add">Nueva Cotización</a>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Colegio</th>
        <th scope="col">Grado</th>
        <th scope="col">Fecha</th>
        <th scope="col" colspan="2">Total</th>
      </tr>
    </thead>
    <tbody>
      @for (item of quotations; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.customerName }}</td>
          <td>{{ item.studentName }}</td>
          <td>{{ item.schoolName }}</td>
          <td>{{ item.gradeName }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.totalAmmount | currency: "GTQ" }}</td>
          <td><a [routerLink]="['/quotations', item.id]">Ver detalles</a></td>
        </tr>
      }
    </tbody>
  </table>
</div>
