.select-icon {
  position: absolute;
  top: calc(50% - 8px);
  right: 12px;
  width: 16px;
  height: 16px;
}

.select {
  position: relative;
}

.select-wrapper {
  position: relative;
}

.select-option-list {
  position: absolute;
  z-index: 9;
  top: 100%;
  overflow-y: scroll;

  width: 100%;
  height: 260px;
  background-color: white;
  border-radius: 8px;
  padding: 8px 0;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px #ccc;
}

.list-option {
  padding: 6px 16px;
  cursor: pointer;


  &:hover {
    background-color: #eee;
  }
}
