<div class="select-wrapper">
  <div class="form-floating mb-3 select" [id]="listId">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      [placeholder]="placeholder"
    />
    <label for="floatingInput">{{ placeholder }}</label>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="select-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
      />
    </svg>
  </div>
  @if (showOptions) {
    <div class="select-option-list">
      @for (item of options; track $index) {
        <!-- TODO: Shows dinamicly the option label -->
        <div class="list-option">{{ item.name }}</div>
      } @empty {
        <div class="list-option">No se encontraron resultados</div>
      }
    </div>
  }
</div>
