input::placeholder {
  font-size: 14px;
  display: grid;
}

.select-field {
  width: 100%;
  min-width: 400px;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
  min-width: 400px;
}

.dropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.result-item {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
