:host {
  border-bottom: 1px solid #e2e8f0;
  padding: 12px 20px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  column-gap: 48px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 32px;
  font-size: 14px;

  &-link {
    text-decoration: none;
    color: #64748b;
    font-weight: 400;
  }

  &-link:hover {
    color: #0f172a;
  }

  &-link-active {
    color: #0f172a;
  }
}
