:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 12px;
}

.switch-button {
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  padding: 8px 16px;
  padding-right: 12px;

  display: flex;
  align-items: center;
  column-gap: 2px;

  background-color: white;
  font-size: 13px;

  p {
    margin-bottom: 0;
    text-align: center;
  }
}

button:hover {
  background-color: hsl(0, 0%, 96%);
}

mat-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 32px;
  font-size: 14px;

  &-link {
    text-decoration: none;
    color: #64748B;
    font-weight: 500;
  }

  &-link:hover {
    color: #0F172A;
  }

  &-link-active {
    color: #0F172A;
  }
}
