<div class="container mt-3">
  <div class="row mb-2">
    <h1 class="fs-3">Nueva Cotización</h1>
  </div>
  <div class="row">
    <div class="col-8">
      <h2 class="fs-5">Añadir Articulo</h2>

      <div class="d-flex align-items-stretch mb-3">
        <div class="form-floating flex-grow-1 me-2">
          <input
            type="text"
            class="form-control"
            id="search-field"
            placeholder=""
            [formControl]="searchControl"
          />
          <label for="search-field">Buscar Producto</label>
        </div>
        <button class="btn btn-outline-dark" (click)="clearSearchControl()">
          Limpiar
        </button>
      </div>

      <!-- TODO: Create a select for search fields (name, code) -->

      <div>
        <div class="search-result">
          @for (item of filteredProducts; track item.id) {
            <div class="border rounded p-3">
              <p>{{ item.name }}</p>
              <div class="d-flex justify-content-between align-items-end">
                <p class="fw-medium">
                  {{ item.sellingPrice | currency: "GTQ" }}
                </p>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="addItemToQuotation(item)"
                >
                  Añadir
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      <hr />

      <h2 class="fs-5">Articulos</h2>

      <table class="table align-middle">
        <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Importe</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of quotationItems$ | async; track item.productId) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ item.description }}</td>
              <td>
                <button
                  class="btn btn-light me-1"
                  (click)="decreaseQuantity(item.productId)"
                >
                  -
                </button>
                {{ item.quantity }}
                <button
                  class="btn btn-light ms-1"
                  (click)="increaseQuantity(item.productId)"
                >
                  +
                </button>
              </td>
              <td>{{ item.price | currency: "GTQ" }}</td>
              <td>{{ item.ammount | currency: "GTQ" }}</td>
              <td>
                <button
                  class="btn btn-outline-danger"
                  (click)="removeItemOfQuotation(item.productId)"
                >
                  Descartar
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="5" class="text-center">
                No se han añadido productos
              </td>
            </tr>
          }
        </tbody>
      </table>

      <hr />

      <div>
        <p class="fs-5">Total: {{ totalAmmount$ | async | currency: "GTQ" }}</p>
      </div>
    </div>
    <div class="col-4">
      <h2 class="fs-5">Datos Generales</h2>

      <form autocomplete="off" [formGroup]="quotationInfo">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="customer-field"
            placeholder=""
            formControlName="customerName"
          />
          <label for="customer-field">Cliente</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="student-field"
            placeholder=""
            formControlName="studentName"
          />
          <label for="student-field">Estudiante</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="date-field"
            placeholder=""
            formControlName="date"
          />
          <label for="date-field">Fecha</label>
        </div>
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="school-grade-field"
            aria-label="Floating label select example"
            formControlName="schoolGrade"
          >
            <option value="">Escoge un grado</option>
            @for (op of schoolGrades; track op.id) {
              <option [value]="op.id">{{ op.name }}</option>
            }
          </select>
          <label for="school-grade-field">Grado Academico</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="school-field"
            placeholder=""
            formControlName="schoolName"
          />
          <label for="school-field">Centro Educativo</label>
        </div>
        <div class="d-flex justify-content-end column-gap-2">
          <button
            type="button"
            class="btn btn-outline-danger"
            routerLink="/quotations"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="createQuotation()"
          >
            Generar Cotización
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
