<div class="view-wrapper">
  <div class="mb-5">
    <h1 class="fs-3 mb-lg-3">Nueva Cotización</h1>

    <div class="d-flex column-gap-3">
      @for (item of tabItems; track $index) {
        <button
          type="button"
          class="btn btn-sm"
          (click)="setCurrentTab(item)"
          [class]="getActiveTabClassName(item)"
        >
          {{ item }}
        </button>
      }
    </div>
  </div>
  <div class="row w-100">
    @switch (currentTab) {
      @case ("1. Carrito") {
        <app-quote-items (onClickToContinue)="setCurrentTab(tabItems[1])" />
      }
      @case ("2. Datos del cliente") {
        <app-quote-header
          (onClickToReturn)="setCurrentTab(tabItems[0])"
          (onClickToContinue)="setCurrentTab(tabItems[2])"
        />
      }
      @case ("3. Confirmación") {
        <app-quote-confirmation />
      }
    }
  </div>
</div>
